body {
    font-family: fantasy;
    margin: 0;
    padding: 0;
    background-color: #FFF0BE;
}

header {
    background-color: #010e5a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#bottom {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: right;
    margin: 1px 400px 1px 0;
    color: grey;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    margin: 1px 0;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: left;
    margin: 1px 0 1px 400px;
    color: grey;
}

#contenedorListas {
    width: 100%;
    background-color: #FFF0BE;
    margin: 0;
    padding: 10px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#signUp {
    display: grid;
    width: 100%;
    height: auto;
    justify-content: space-around;
    background-image: linear-gradient(#FFF0BE, #fdd464);
    margin-top: 30px;
    padding: 70px 0;
}

#signUp h3 {
    justify-content: space-around;
    display: flex;
    margin-bottom: 20px;
    font-size: xx-large;
}

#contenedorListas article {
    box-shadow: 10px 5px 5px #CABD91;
    padding: 50px;
    align-items: center;
}

#contenedorListas button {
    margin-right: 10px;
}

#btnFavorito {
    background-image: linear-gradient(#001eff, #000752);
}

.list-box {
    width: 150px;
    background-color: grey;
    border: 4px dotted yellow;
    margin: 10px;
    padding: 10px;
    float: left;
    height: auto;
}

.list-container {
    padding: 20px;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
}

p {
    color: #555;
}

#email2,
#pass3 {
    margin: 0;
    height: 30px;
    width: 300px;
    padding: 0;
}

button,
select,
#submit,
#signUp input {
    background-image: linear-gradient(#ff7b00, #ffb52c);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 10px 5px 5px #CABD91;
}

#register {
    justify-content: center;
    display: inline;
}

#signUp input {
    width: 100%;
}

button:hover {
    background-color: #e6830e;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.rainbow {
    z-index: 0;
    width: 210px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    position: fixed;
    z-index: 1000;
}

.rainbow button {
    width: 200px;
    height: 50px;
}

.rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    -webkit-animation: rotate 4s linear infinite;
    animation: rotate 4s linear infinite;
}

.rainbow::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background-color: #fff;
    border-radius: 6px;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    background-color: whitesmoke;
    color: grey;
    display: grid;
    text-align: end;
}

footer p {
    margin-top: 50px;
    margin-right: 20px;
}

#socialMedia {
    display: flex;
    justify-items: start;
    align-items: start;
    margin-top: 10px;
}

#loader {
    position: fixed; /* Mantiene el loader en la misma posición mientras se desplaza */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda la anchura de la pantalla */
    height: 100%; /* Ocupa toda la altura de la pantalla */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    z-index: 9999; 
}
.loader-inner {
    border: 16px solid #f3f3f3; /* Color del borde */
    border-top: 16px solid #3498db; /* Color de la parte superior del spinner */
    border-radius: 50%; /* Hace que sea redondo */
    width: 120px; /* Ancho del spinner */
    height: 120px; /* Alto del spinner */
    animation: spin 2s linear infinite; /* Animación de giro */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#logDiv {
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    display: grid;
    padding: 10px; /* Reducido de 5px a 10px */
    margin: 5px; /* Reducido de 10px a 5px */
    align-content: space-around;
    box-sizing: border-box;
    border-radius: 10px;
    background-image: linear-gradient(#0c005a, #3d3f76);
}

#logDiv input,
#logDiv button {
    margin: 2px 0; /* Reducido de 3px a 2px */
    text-align: center;
    box-shadow: none;
    width: 100%;
}


button,
#submit,
#signUp input {
    background-image: linear-gradient(#ff7b00, #ffb52c);
    transition: background-image 0.3 ease;
}

button:hover,
#submit:hover,
#signUp input:hover {
    background-image: linear-gradient(#ff0000, #ffbf00);
}

#filtros {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
    justify-content: space-evenly;
    max-width: 100%;
}

#filtros button,
#filtros select {
    background-image: linear-gradient(#ff7b00, #ffb52c);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    align-items: center;
    transition: background-image 0.3s;
    box-shadow: 10px 5px 5px #CABD91;
    margin: 5px;
}

#filtros button:hover,
#filtros select:hover {
    background-image: linear-gradient(#1900ff, #0b002b);
}

#container {
    width: 100%;
    height: 100px;
    background: linear-gradient(45deg, #ffb700, #fcffb3);
    display: flex;
    align-items: center;
    justify-content: center;
}

#paginacion {
    display: flex;
    align-items: center;
    color: #383838;
    padding: 10px, 40px;
    border-radius: 6px;
    justify-content: center;
    padding-bottom: 10px;
}

#paginacion ul {
    margin: 20px 30px;
}

#paginacion button {
    margin: 0 30px;
}

.icocor3 {
    font-size: 30px;
}

#paginacion ul li {
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
}

.btn1,
.btn2 {
    display: inline-flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: white;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

#searchInput {
    display: flex;
}

#searchText {
    font-family: 'Courier New', Courier, monospace;
    margin-right: 7px;
    background-image: linear-gradient(45deg, #ffb700, #fcffb3);
}

/* Media Queries */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 18px;
        margin-left: 20px;
    }

    #contenedorListas {
        grid-template-columns: 1fr;
    }

    #bottom {
        margin-right: 20px;
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 75px;
    }

    h2 {
        font-size: 20px;
        margin-left: 50px;
    }

    #contenedorListas {
        grid-template-columns: repeat(2, 1fr);
    }

    #bottom {
        margin-right: 50px;
        text-align: right;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 85px;
    }

    h2 {
        font-size: 22px;
        margin-left: 100px;
    }

    #contenedorListas {
        grid-template-columns: repeat(3, 1fr);
    }

    #bottom {
        margin-right: 100px;
        text-align: right;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 24px;
        margin-left: 400px;
    }

    #contenedorListas {
        grid-template-columns: repeat(3, 1fr);
    }

    #bottom {
        margin-right: 400px;
        text-align: right;
    }
}
