body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cambio de color de fondo */
}

header {
    background-color: #232f3e; /* Cambio de color de fondo */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

#contenedorListas {
    display: table;
    padding: 20px;
    overflow: scroll;
}

.list-box {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: scroll; 
}

.list-container {
    padding: 20px;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

p {
    margin: 0;
    color: #555;
}

button {
    background-color: #f90;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s; /* Transición suave */
}

button:hover {
    background-color: #e6830e; /* Cambio de color al pasar el ratón */
}
